<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <section id="app">
    <p>{{message}}</p>
    <p>
      <input type="text" v-model="message">
    </p>
  </section>
  <hr>
  <section id="app2">
    <p><input type="text" v-model="km">km</p>
    <p><input type="text" v-model="m">m</p>
  </section>
  <hr>
  <section id="app3">
    <p><input type="text" v-model="firstName"></p>
    <p><input type="text" v-model="lastName"></p>
    <p>fullName: {{fullName}}</p>
  </section>
  <hr>
  <section id="app4">
    <ul>
      <li v-for="color in colors">
        {{color.name}}
      </li>
    </ul>
    <button v-on:click="onClick">Click!</button>
  </section>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
  <script src="js/conbersion.js"></script>
  <script src="js/computation.js"></script>
  <script src="js/deep.js"></script>
</body>
</html>